h1 {
  text-align: center;
}

button {
  margin-right: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 80%;
  margin:auto;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}